{erl_opts, [
  debug_info,
  {d, debug},
  {parse_transform, lager_transform}
]}.

{deps, [
  jsone,
  {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
  lager,
  gproc
]}.

{overrides, [
  {override, jsone, [{erl_opts, [{d, 'ENABLE_HIPE'}, inline]}]}
]}.

{base_dir, "build"}.

{shell, [
  {apps, []},
  {config, "./config/app.config"}
]}.
