{base_dir, "./build"}.

{deps, [
  {lager, {git, "https://github.com/basho/lager.git", {tag, "3.2.4"}}},
  {gproc, {git, "https://github.com/uwiger/gproc.git", {tag, "0.6.1"}}},
  {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
  {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.4.0"}}},
  {amqp_client, {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}}
]}.

{erl_opts, [
  {parse_transform, lager_transform}
]}.

{relx, [
  {sys_config, "./config/sys.config"}
]}.
