{base_dir, "./build"}.

{deps, [
  {amqp_client, {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.6.2"}}},
  {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.4.0"}}},
  {lager, {git, "https://github.com/basho/lager.git", {tag, "3.2.4"}}}
]}.

{erl_opts, [
  {parse_transform, lager_transform}
]}.

{relx, [
  {sys_config, "./config/sys.config"}
]}.
