[
  {likes, [
    {requester_count, 10},
    {jobs_in_one_time_count, 2},
    {stat_timeout, 5000},
    {output_file, "./log/out.html"}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [
        info, {lager_default_formatter, [time, " ", pid, " [", severity, "] ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "./log/info.log"}, {level, "info"}]},
      {lager_file_backend, [{file, "./log/warning.log"}, {level, "warning"}]}
    ]},
    {error_logger_redirect, false},
    {error_logger_hwm, 1000}
  ]}
].
