[
  {likes, [
    {worker_count, 50}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [
        info, {lager_default_formatter, [time, " ", pid, " [", severity, "] ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "./log/info.log"}, {level, "info"}]},
      {lager_file_backend, [{file, "./log/warning.log"}, {level, "warning"}]}
    ]}
  ]}
].
