[
  {likes, [
    {requester_count, 1}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, [
        debug, {lager_default_formatter, [time, " ", pid, " [", severity, "] ", message, "\n"]}
      ]},
      {lager_file_backend, [{file, "./log/info.log"}, {level, "info"}]},
      {lager_file_backend, [{file, "./log/warning.log"}, {level, "warning"}]}
    ]},
    {error_logger_redirect, true},
    {error_logger_hwm, 1000}
  ]},
  {mnesia, [{dir, "x:/work/db/mnesia"}]}
].
